<div class="p-3 mt-2 mb-4 w-100 d-flex" >
  <div class="container d-flex align-items-center justify-content-between">
    <h3><%= link_to 'Recipe finder', recipes_path, class: "text-warning" %></h3>

    <% if show_search_bar %>
      <div class="col-md-4">
        <%= form_tag(recipes_path, method: :get, class: "d-flex  input-group") do %>
          <%= text_field_tag :query, params[:query], placeholder: 'milk, eggs, cheese', class: 'form-control rounded bg-secondary border-secondary text-white' %>
        <% end%>
      </div>
    <% end %>
  </div>
</div>
